page-radio {
	.toolbar-background{
		background: transparent!important;
	}
	.toolbar-title{
		color:unset;
	}
	.scroll-content{
		background-color: #e2e2e2;
	}

	.back-button{
		color: unset;
	}
  .card {
    min-height: 315px;
	 height: 315px;
    max-height: 315px;
    min-width: 315px;
	 widows: 315px;
    max-width: 315px;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 30px 2px rgba(143, 143, 143, 0.44);
    position: relative;
    padding-top: 3px;
    img {
      object-fit: contain;
      min-height: 315px;
		height: 315px;
		max-height: 315px;
		min-width: 315px;
		widows: 315px;
		max-width: 315px;
      background-color: white;
    }
  }
  .btn-play-stop {
    padding: 0px;
    height: 70px;
    width: 70px;
    margin-top: -36px;
    margin-bottom: 20px;
    z-index: 1002;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    ion-icon {
      font-size: 1.6em;
    }
  }
  .status {
    padding: 4px 8px;
    border-radius: 4px;
  }
  .scroll-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  ion-spinner * {
    stroke: unset!important;
  }
  .spinner{
	  width: 50px!important;
	  height: 50px!important;
  }
}
