<ion-header [style.background]="bg_color">
  <ion-navbar>
    <ion-title [color]="color" [style.color]="color">{{radio_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-card>
    <img [src]="logo">
  </ion-card>
  <ion-spinner hidden></ion-spinner>
  <button ion-button icon-only [style.backgroundColor]="bg_color" [style.color]="color" class="btn-play-stop" large
    round (tap)="playStopRadio()">
    <ion-icon [name]="status == 'playing' ? 'square':'play'" [hidden]="status == 'loading'"></ion-icon>
    <ion-spinner [style.fill]="color" [style.color]="color" [style.stroke]="color" [hidden]="status != 'loading'"></ion-spinner>
  </button>
  <p ion-text>
    <span class="status" [style.backgroundColor]="bg_color" [style.color]="color">
      {{ status == 'loading' ? 'CARREGANDO RÁDIO' : status == 'playing' ? 'OUVINDO AGORA' : 'RÁDIO PARADA' }}
    </span>
  </p>
</ion-content>
