img.splash{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100vh;
	z-index: 99999;
	object-fit: cover;
	transition: all 1s ease-out;
	&.hidden{
		top: -150vh;
	}
}